<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @social_activity.name %>
</p>

<%= link_to 'Edit', edit_social_activity_path(@social_activity) %> |
<%= link_to 'Back', social_activities_path %>
