// Import page-specific CSS files here.
@import "home";
@import "profile_router";
@import "measurements";
@import "swipe";
@import "store";
@import "partials/index";
@import "loading";
@import "stylist";
@import "customer/index";
@import "map";
@import "vendor";
@import "slip";
