.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right{
  display: none;
}
.map-container{
  width: 100%;
  height: 100%;
  position: relative;
  #info{
    position: absolute;
    height: auto;
    width: 100%;
    background-color: #4264FB;
    bottom: 0;
    padding: 5px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    #manual_address{
      width: 65%;
      padding: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    #address-buttons{
      display: flex;
      flex-direction: column;
      align-items: center;
      button{
        width: 100%;
        margin: 5px;
        border-radius: 5px;
      }
      .btn-confirm-address{
        background-color: #f5cc06;
      }
      .btn-cancel-checkout{
        background-color: red;
      }
    }
  }

}
.map_label{
  font-size: 0.8rem;
}
.map_inputs{
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}
.map_input_group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 10px;
}
