.container-profile-router{
  padding-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $royal;
}
.container-links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 50px;
  & > a{
    margin: 5px;
    width: 200px;
    height: 200px;
  }
  & > a:active, a:hover{
    text-decoration: none;
  }
}
div[class^="router-link-"]{
  color: rgba(255, 255, 255, 0.5);
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(200,200,200,0.1);
  font-family: 'Rubik', sans-serif;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  justify-content: center;
  position: relative;
  & > svg{
    font-size: 3vw;
    position: absolute;
    top:10px;
  }
  & > .fa-check-circle{
    color: $gold;
  }
  & > p {
    margin: 0;
  }
  &:hover{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(200,200,200,0.2);
  }
}
@media only screen and (max-width: 600px) {
  div[class^="router-link-"]{
    font-size: 6vw;
    & > svg{
    font-size: 9vw;
    }
  }
}
