.store-container{
  width: 100vw;
  background-color: violet;
}
.hero-footer{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.to-products:hover {
  filter:drop-shadow(0px 0px 3px ghostwhite);
}

#gender-section{
  transition-duration: 0.5s;
}
#products-section{
  position: relative;
}
.next_deck{
  display: none;
}
