files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/magia.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            cd /var/app/current
            echo "MAGIA ACTIVATED"
            sudo cmod -R 777 .
            yarn install
            bundle install
            bundle exec rails assets:precompile
            sudo swapon -s
            sudo dd if=/dev/zero of=/swapfile bs=1024 count=512k
            sudo mkswap /swapfile
            sudo swapon /swapfile
            sudo echo " /swapfile       none    swap    sw      0       0 " >> /etc/fstab
            echo 10 | sudo tee /proc/sys/vm/swappiness
            echo vm.swappiness = 10 | sudo tee -a /etc/sysctl.conf
            sudo chown root:root /swapfile
            sudo chmod 0600 /swapfile
