files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/magia.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            cd /var/app/current
            echo "MAGIA ACTIVATED"
            sudo cmod -R 777 .
            yarn install
            bundle install
            bundle exec rails assets:precompile
