commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/fix.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/ondeck
      echo "x"
      echo "x"
      ls /var/app
      echo $PWD
      chmod -R 777 /var/app/
      runuser -l  ec2-user -c 'yes | ./bin/webpack'
      runuser -l  ec2-user -c './bin/webpack'
      runuser -l  ec2-user -c 'bundle exec rails restart'
