commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/fix.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/usr/bin/env bash
      runuser -l  ec2-user -c 'cd /var/app/current'
      sudo chmod -R 777 .
      runuser -l  ec2-user -c 'yes | ./bin/webpack'
      runuser -l  ec2-user -c './bin/webpack'
      runuser -l  ec2-user -c 'bundle exec rails restart'
