<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @outdoor_level.level %>
</p>

<%= link_to 'Edit', edit_outdoor_level_path(@outdoor_level) %> |
<%= link_to 'Back', outdoor_levels_path %>
