<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity_level.name %>
</p>

<%= link_to 'Edit', edit_activity_level_path(@activity_level) %> |
<%= link_to 'Back', activity_levels_path %>
