.message_box{
  height: 150px;
  width: 300px;
  background-color: rgba(255,215,0,0.3);
  color: black;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 420;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: opacity 0.5s ease;
  p{
    text-align: center;
    color: rgba(255,215,175,0.8);
  }
  button{
    border: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: transparent;
    color: rgb(255,215,0);
  }
  &:hover{
    opacity: 0.8;
  }

}
.popup_hidden{
  visibility: hidden;
}
