.products-container{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.products-container-sidebar{
  width:30%;
  height: 100%;
  background: rgba(220,220,250,0.3);
  &-header{
    height:25%;
    width: 100%;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #212529a3;
  }
  &-body{
    height:50%;
    width: 100%;
    padding: 5px;
    color: rgba(10,10,10,0.8);
  }
  &-footer{
    height:25%;
    width: 100%;
    padding: 10px;
    button{
      width: 100%;
      background-color: blue;
      color: white;
      .fa-shopping-cart{
        margin-right: 5px;
      }
    }
  }
}
.products-section-swiper{
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}
.product-filters{
  position: absolute;
  color: white;
  top: 20px;
  left: 20px;
  z-index: 9999;
}

#products-swipe-card-stack{
    height: 100%;
    width: 80%;
    position: relative;
    list-style-type: none;
  .swipe-card-base{
    background-image: none;
    background-color: rgba(200,150,200,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  img {
    width: 100%;
    filter: drop-shadow(0px 0px 10px rgba(20,20,20,0.7));
  }
}

@media only screen and (min-width: 500px) {
  #products-swipe-card-stack{
    height: 60vh;
    width: 60vw;
  }
}
@media only screen and (min-width: 768px) {
  #products-swipe-card-stack{
    height: 65vh;
    width: 40vw;
  }
}
@media only screen and (min-width: 992px) {
  #products-swipe-card-stack{
    height: 70vh;
    width: 25vw;
  }
}
.swipe-card{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(80,80,80,0.8);
  border-radius: 8px;
}
.swipe-card-base{
  border-radius: 8px;
  background-color: rgba(200,150,100,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.swipe-card-like, .swipe-card-dislike{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
  justify-content: space-around;
}
.swipe-card-like{
  color: green;
  font-size: 6rem;
}
.swipe-card-dislike{
  color: maroon;
  font-size: 6rem;
}
.hidden{
  display: none;
}
.manual-swipe-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.manual-like{
  border-radius: 50%;
  font-size: 4rem;
  width: 80px;
  height: 80px;
  color: rgb(190,194,203);
  text-align: center;
  padding: 10px;
  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(1.1);
    color: green;
  }
}
.manual-dislike{
  border-radius: 50%;
  font-size: 4rem;
  width: 80px;
  height: 80px;
  color: rgb(190,194,203);
  text-align: center;
  padding: 10px;
  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(1.1);
    color: maroon;
  }
}
.controls{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  height: 10%;
  .controls-icon{
    color: silver;
    font-size: 4rem;
  }
  .control-option{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
}
