<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">LABBESNE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Style Me</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Orders</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
  <% if controller == 'pages' && controller.action == 'store' %>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  <% end %>
</nav>
