<div class="confirmation_container">
  <div class="main">
    <p>
      Please use the link in your<br>email to confirm you identity
    </p>
    <%= link_to "Resend confirmation link", resend_confirmation_path, remote: true, class: "resend_confirmation_link" %>
  </div>
</div>
