<div class="customer-container">
  <div class="customer-container-sidebar">
    <ul class="customer-container-sidebar-tabs">
      <li class="customer-container-sidebar-tab customer-tab-active">Active Orders</li>
      <li class="customer-container-sidebar-tab">Order History</li>
      <li class="customer-container-sidebar-tab">Saved Items</li>
    </ul>
  </div>
  <div class="customer-container-main">
    <%= render partial: 'pages/partials/customer/orders' %>
  </div>
</div>
