<div class="container-home">
  <h1>LABBESNE</h1>
  <div class="home-router">
    <%= link_to "View Shop", '/shop', class: "btn btn-home btn-border" %>
    <%= link_to "Style Me", '/profile', class: "btn btn-home btn-border" %>
  </div>
</div>
