<div class="container-profile-router">
  <div class="container-links">
    <%= link_to new_info_path do %>
      <div class="router-link-info">
        <% if current_spree_user.profile.info.nil? %>
          <i class="fas fa-address-card"></i>
        <% else %>
          <i class="fas fa-check-circle"></i>
        <% end %>
        <p>Basic Info</p>
      </div>
    <% end %>
    <%= link_to new_body_measurement_path, disabled: current_spree_user.profile.info.nil? do %>
      <div class="router-link-measurements">
        <% if current_spree_user.profile.body_measurement.nil? %>
          <i class="fas fa-ruler-combined"></i>
        <% else %>
          <i class="fas fa-check-circle"></i>
        <% end %>
        <p>Measurements</p>
      </div>
    <% end %>
    <%= link_to new_lifestyle_path, disabled: current_spree_user.profile.body_measurement.nil? do %>
      <div class="router-link-lifestyle" >
        <% if current_spree_user.profile.lifestyle.nil? %>
          <i class="fas fa-glass-cheers"></i>
        <% else %>
          <i class="fas fa-check-circle"></i>
        <% end %>
        <p>Lifestyle</p>
      </div>
    <% end %>
  </div>
</div>
