<div class="stylist-container">
  <div class="stylist-container-sidebar">
    <ul>
      <li class="styling_tab stylist-tab-active" id="styling_orders_tab">Styling Orders</li>
      <li class="styling_tab" id="styling_profiles_tab">User Profile</li>
      <li class="styling_tab" id="styling_outfits_tab">Outfit Generator</li>
      <li class="styling_tab" id="styling_collection_tab">Outfit Collection</li>
      <li class="styling_tab" id="styling_reviews_tab">Orders & Reviews</li>
    </ul>
  </div>
  <div class="stylist-container-body">

  </div>
</div>
