<div class="vendor_container">
  <div class="vendor_sidebar">
    <ul id="vendor_tabs">
      <li class="vendor_tab">Orders</li>
      <li class="vendor_tab">Products</li>
      <li class="vendor_tab">Analytics</li>
      <li class="vendor_tab">Account</li>
    </ul>
  </div>
  <div class="vendor_main">
    <%= render partial: 'pages/partials/vendor/orders' %>
  </div>
</div>
