<div class="vendor_container">
  <div class="vendor_sidebar">
    <ul id="vendor_tabs">
      <li class="vendor_tab vendor_tab_orders vendor_active_tab">Orders</li>
      <li class="vendor_tab vendor_tab_products">Products</li>
      <li class="vendor_tab vendor_tab_analytics">Analytics</li>
      <li class="vendor_tab vendor_tab_account">Account</li>
    </ul>
  </div>
  <div class="vendor_main">
    <%= render partial: 'pages/partials/vendor/orders' %>
  </div>
</div>
