<div class="gender-router">
  <div class="gender-router-men">
    <h2>MEN</h2>
    <%= image_tag 'man.svg', class: "gender-router-men-image img-fluid" %>
  </div>
  <div class="gender-router-women">
    <h2>WOMEN</h2>
    <%= image_tag 'woman.svg', class: "gender-router-women-image img-fluid" %>
  </div>
</div>
