<div class="products_cards">
  <% @products.each do |p| %>
    <ul>
      <li class="stylist_product_card"><%= p.name %></li>
    </ul>
  <% end %>
</div>
<%= paginate @products, params: {controller: 'pages', action: 'stylist_products_area'}, remote: true %>
