<div class="products_cards">
  <ul>
    <% @products.each do |p| %>
      <li class="stylist_product_card"><%= image_tag p.images.first.url('large') %></li>
    <% end %>
  </ul>
</div>
<div class="products_cards_footer">
  <button class="btn stylist-filter" data-type="tops">Tops</button>
  <button class="btn stylist-filter" data-type="pants">Pants</button>
  <button class="btn stylist-filter" data-type="shoes">Shoes</button>
  <button class="btn stylist-filter" data-type="accessories">Accessories</button>
</div>
<%= paginate @products, params: {controller: 'pages', action: 'stylist_products_area'}, remote: true %>
