<div class="outfit-generator-container">
  <div class="outfit-generator-container-products">
    <%= render partial: 'pages/partials/outfit_products' %>
  </div>
  <div class="outfit-generator-container-preview">
    <button class="btn save-outfit">Save Outfit</button>
  </div>
</div>
