.product_spec_container{
  padding-top: 70px;
  height: 100vh;
  width: 100vw;
  background-color: purple;
  overflow: hidden;
}
.product_spec_sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(100,100,100,0.2);
  height: 100%;
  border-radius: 10px;
  & > h2{
    color: ghostwhite;
  }
  form{
    width: 100%;
    margin: 5px;
  };
}
.product_spec_image{
  width: 100%;
  padding: 5px;
  border: 1px solid rgba(200,50,200,0.5);
  border-radius: 10px;
}
.clothing_type_selector{
  display: flex;
  justify-content: center;
  & > button{
    color: white;
    margin-right: 20px;
    background-color: rgba(200,200,200,0.3);
  }
}
.clothing_type_selected{
  background-color: rgba(200,200,200,0.3);
  border: 1px solid blue;
}
.top_selector, .pants_selector, .shoes_selector, .accessory_selector{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  label.select{
      color: white;
  };
  .form-control:disabled{
    background-color: transparent;
  }
  select.select{
    color: ghostwhite;
    option{
      color: black;
    }
  };
  &_fine{
    width: 45%;
    margin: 0 2.5%;
  };
}

.fine-submit{
  display: none;
}
.type-top-submit, .type-pants-submit, .type-shoes-submit, .type-accessory-submit{
  display: none;
}
.btn-product-specs-save{
  width: 100%;
  background-color: rgba(74, 150, 196, 0.8);
  color: white;
  font-weight: bold;
  margin: 5px;
}

.btn-product-specs-reset{
  width: 100%;
  background-color: red;
  color: white;
  font-weight: bold;
}
.btn-product-specs-back{
  width: 100%;
  background-color: rgb(210, 105, 30);
  color: white;
  font-weight: bold;
}
#new_product_spec{
  select.form-control:focus{
    background-color: transparent;
  }
}
.swatch > div{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
