<div class="saved_products_container">
  <ul>
    <% @interactions.each do |i| %>
      <li class="order_card">
       <%= image_tag Spree::Product.find(i.spree_product_id).images.first.url("large") %>
      </li>
    <% end %>
  </ul>
</div>
