<div class="saved_products_container">
  <ul>
    <% @orders.each do |o| %>
      <% o.line_items.each do |i| %>
        <li class="order_card">
          <% unless Spree::Variant.find(i.variant_id).nil? %>
            <%= image_tag Spree::Variant.find(i.variant_id).product.images.first.url("large") %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
