.bought_products_container{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    li{
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
.saved_products_container{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    li{
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .unsave{
        opacity: 0;
        position: absolute;
        width: 50%;
        border-radius: 4px;
        border: none;
        background-color: crimson;
      }
      .closet_cart{
        position: absolute;
        top: 1rem;
        right: 1rem;
        border: none;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        background: rgba(150,150,150,0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: white;
        &:focus{
          outline:none;
        }
      }
      &:hover{
        .unsave{
          opacity: 1;
        }
      }
    }
  }
}
